<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <p><%= comment.body %></p>
        <hr>
        <small>posted by <%= link_to comment.author.username, user_path(comment.author) %> on <%= comment.created_at %></small>
      </div>
    </div>
  </div>
</div>