<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="alert alert-danger alert_dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      There were some errors:
      <ul>
        <% errors.each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
