<div class="nav navbar-nav navbar-right">
  <%= link_to "Register", register_path, class: "btn btn-default navbar-btn" %>
  <%= link_to "Log in", login_path, class: "btn btn-primary navbar-btn" %>
</div>